<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kayak Club</title>
  <link rel="icon" href="../../assets/kayak-logo.jpg" type="image/x-icon">
  <link rel="stylesheet" href="../../styles.css">
  <link rel="stylesheet" href="adventures.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <!-- HEADER -->
  <header class="header-wrapper">
    <!-- LEFT COLUMN -->
    <div class="left-column">
      <!-- ICON -->
      <div class="icon-mr">
        <i class="fas fa-phone-volume icon"></i>
      </div>
      <!-- HOURS & PHONE -->
      <div class="header-styles">
        <div>555-555-5555</div>
        <div>10 AM - MIDNIGHT</div>
      </div>
    </div>

    <!-- CENTER COLUMN -->
    <div class="center-column">
      <!-- LOGO -->
      <div class="logo">
        <img src="../../assets/kayak-logo.jpg" alt="logo">
      </div>
      <!-- NAVIGATION -->
      <nav class="link-wrapper">
        <a class="nav-link" href="../../index.html">Home</a>
        <a class="nav-link" href="#">About</a>
        <a class="nav-link" href="#">Adventures</a>
        <a class="nav-link" href="#">Contact</a>
      </nav>
    </div>

    <!-- RIGHT COLUMN -->
    <div class="right-column">
      <!-- ADDRESS -->
      <div class="header-styles">
        <div>123 Main Street</div>
        <div>Salt Lake City, UT 84043</div>
      </div>
      <!-- ICON -->
      <div class="icon-ml">
        <i class="fas fa-map-marker-alt icon"></i>
      </div>
    </div>
  </header>

  <div id="adventure" class="adventure-page"></div>

  <div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <h4 id="modal-title"></h4>
      <p>No Content</p>
      <button class="close">CLOSE</button>
    </div>
  </div>

  <script src="adventures.js"></script>
</body>

</html>