body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  font-size: 72px;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

img {
  border-radius: 5%;
}

.centered {
  text-align: center;
}


header {
  background-color: #1B998B;
  color: white;
  padding-top: 48px;
  padding-bottom: 16px;
}

.intro {
  display: inline-block;
  text-align: left;
  max-width: 360px;
  margin-left: 48px;
}

nav {
  margin-top: 72px;
  font-size: 28px;
}

nav a {
  margin: 0 16px;
}

main {
  max-width: 70%;
  margin: auto;
}

main section {
  margin-bottom: 48px;
}

footer {
  background-color: #CBF6E9;
  font-size: 24px;
  font-weight: bold;
  /* No left and right padding, only top and bottom */
  padding: 48px 0;
}