header {
  background-color: #1B998B;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer {
  background-color: #CBF6E9;
}

.centered {
  text-align: center;
}

.intro {
  max-width: 500px;
  text-align: left;
}